[submodule "third_party/enum_flags"]
	path = src/external/enum_flags
	url = https://github.com/lumik/enum_flags.git
[submodule "tests/external/qtest_suite"]
	path = tests/external/qtest_suite
	url = https://github.com/lumik/qtest_suite.git
