[submodule "src/external/lumik/enum_flags"]
	path = src/external/lumik/enum_flags
	url = https://github.com/lumik/enum_flags.git
[submodule "tests/external/qtest_suite"]
	path = tests/external/qtest_suite
	url = https://github.com/lumik/qtest_suite.git
[submodule "external/lumik/cpp_style_guide"]
	path = external/lumik/cpp_style_guide
	url = https://github.com/lumik/cpp_style_guide.git
